@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;600&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 35px;
    letter-spacing: 5px;
}

.grid:after {
    display: block;
    content: '';
    clear: both;
}

.grid img {
    width: 100%;
    border-radius: 10px;
}

.grid-col--2,
.grid-col--3 {
    display: none;
}

.grid-item {
    margin-bottom: 20px;
}

#error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    color: lightgray;
}

#loader-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#loader svg text {
    fill: lightgray;
}

@media (min-width: 600px) {
    body {
        padding: 20px 50px;
    }
    .grid-col {
        width: 50%;
    }
    .grid-col--2 {
        display:block;
    }
}

@media (min-width: 1000px) {
    body {
        padding: 20px 80px;
    }
    .grid-col {
        width: 33.3%;
    }
    .grid-col--2,
    .grid-col--3 {
        display: block;
    }
}
